# SPlusthon - کتابخانه اصلی برای یوزر-بات سروش پلاس (فورک Telethon)
# نصب مستقیم از گیت‌هاب اگر نسخه pip قدیمی بود:
# splusthon @ git+https://github.com/shayanheidari01/SPlusthon.git
splusthon

# برای مدیریت تنظیمات و env
python-dotenv

# برای حالت Bot API رسمی (اختیاری)
requests
sseclient-py

# برای بهبود لاگ و پردازش
colorama
